
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.items-center{
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}

.header{
    background-image: url(../img/Header\ Background.png);
    padding-left: 50px;
    font-family: "Maven Pro";
    color: #ffffff;
    padding-top: 50px;
}

.logo b{
    font-size: 30px;
    letter-spacing: 6px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 17px;
}

.up-menu{
    justify-content: end;
}

.up-menu ul{
    min-width: 560px;

}

.up-menu li{
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}

.up-menu span{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0.000;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(110,69,226,0);
    border: 1px solid #ffffff;
}
.pricing-table{
    text-align: center;
    align-items: center;
}
.pricing-table p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: "Maven Pro";
}
.pricing-table h2{
    font-size: 86px;
    letter-spacing: -3px;
    line-height: 72px;
    color: #fff;
    font-weight: 500;
    font-family: "Maven Pro";
    text-align: center;
    padding: 20px 0;
}
.pricing-table ul{
    text-decoration: none;
}
.pricing-table li{
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Maven Pro";
    text-align: center;
}
.social{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
    color: #9fa4af;
    font-weight: 700;
    font-family: "Maven Pro";
    text-align: center;
}
.social h2{
    font-size: 60px;
    line-height: 72px;
    color: #4f4f6f;
    font-weight: 500;
    font-family: "Maven Pro";
    text-align: center;
    padding: 20px 0;
}
.social ul{
    text-decoration: none;
}
.social li{
    font-size: 16px;
    line-height: 28px;
    color: #9fa4af;
    font-weight: 400;
    font-family: "Maven Pro";
    text-align: center;
}
.button a{
    display: flex;
    justify-content: center;
}
.button img{
    align-items: center;
}